/* $Id: layout.css,v 1.1.2.1.2.1 2009/12/30 17:03:25 psynaptic Exp $ */

/* Layout */

#page {
  width: 100%;
}

#header {
  padding-top: 10px;
  margin-bottom: 20px;
}

#header-right {
  float: right;
}

.sidebar {
  width: 23.4%;
}

.sidebar .block {
  margin-bottom: 20px;
}

#left,
#right,
#content {
  float: left;
}

#content {
  width: 100%;
}

#page-inner {
  width: 98%;
  margin: 25px 1% 0;
}

.sidebar-left #content,
.sidebar-right #content {
  width: 76.6%;
  padding-right: 0;
}

.two-sidebars #content {
  width: 53.2%;
}

.two-sidebars #content .squeeze {
  padding: 4%;
}

.sidebar-left #content .squeeze {
  padding-left: 2.8%;
}

.sidebar-right #content .squeeze {
  padding-right: 2.8%;
}

#footer,
#footer-message {
  font-size: 0.9em;
  clear: both;
  padding: 20px;
  text-align: center;
}
