/* $Id: color.css,v 1.1.2.16.2.22 2010/04/21 23:04:56 psynaptic Exp $ */

/* Global */

body,
body#tinymce {
  background-color: #FFF;
}

body,
table,
td {
  color: #333;
}

a:link {
  color: #007EE4;
}

a:visited {
  color: #899FAF;
}

a:hover {
  color: #007EE4;
}

a:visited:hover {
  color: #899FAF;
}

a:focus {
  color: #333;
}

tr.odd {
  background-color: #E6E6E6;
}

tr.even {
  background-color: #FFF;
}

th a:link,
th a:visited {
  color: #A9D3E6;
}

/* Fieldsets */

div.collapsible h2.fieldset-title {
  background-color: #ccc;
}

div.expanded h2.fieldset-title a:link,
div.expanded h2.fieldset-title a:visited {
  color: #333;
}

h2.fieldset-title,
div.collapsed h2.fieldset-title {
  background-color: #E2E2E2;
}

div.fieldset-content,
fieldset {
  border: 1px solid #eee;
}

/* Tabs */

ul.tabs li a:link,
ul.tabs li a:visited {
  background: #E6E6E6;
  color: #007EE4;
}

ul.tabs li a.active {
  color: #333;
}

/* Menus */

li.active-trail a.active {
  color: #333;
}

ul.nice-menu,
ul.nice-menu ul,
ul.nice-menu li {
  border: none;
}

/* Messages */

.status {
  background-color: #CDFFD1;
}

.help {
  background-color: #D2D9FF;
}

.notice {
  background-color: #FFFDB5;
}

div.error {
  background-color: #FCC;
  border: none;
}

tr.error {
  background-color: #FCC;
  color: #333;
}

/* Nodes */

.submitted {
  color: #777;
}

/* Comments */

.comment {
  border-bottom: 1px solid #E6E6E6;
}

/* Forms */

textarea,
input.form-text,
select {
  border: 1px solid #ccc;  
}

input.form-text
textarea,
select {
  color: #333;
  background-color: #fff;
}

input.form-submit,
input.teaser-button,
input[type=button] {
  background-color: #E6E6E6;
  border: none;
}

input.form-text:focus,
textarea:focus {
  background-color: #F5F9FB;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #F88;
}

/* Admin */

div.admin-dependencies,
div.admin-required {
  color: #A3A3A3;
}

/* Modules */

#admin-menu li li {
  opacity: 1;
}
