/* $Id: grid.css,v 1.1.2.3.2.3 2010/02/08 23:52:30 psynaptic Exp $ */

/* Grid and toggle styles */

body {
  width: 100%;
  height: 100%;
}

#clean-grid {
  position: fixed;
  left: 50%;
  z-index: -1;
  margin-left: -480px;
  width: 960px;
  height: 100%;
}

#clean-grid.clean-liquid {
  left: 0;
  margin-left: 0;
  width: 100%;
}

#clean-grid.grid-disabled {
  display: none;
}

#clean-grid.grid-enabled {
  display: block;
}

#clean-grid-toggle {
  position: fixed;
  z-index: 20;
  bottom: 50px;
  right: 0;
  padding: 10px;
  border: 5px solid #ccc;
  border-right: none;
  background-color: #eee;
  display: block;
  -moz-border-radius: 20px 0 0 20px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-radius: 20px 0 0 20px;
  outline: 0;
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  letter-spacing: 1px;
  background-color: #AFE3FC;
  color: #555;
}

#clean-grid-toggle.grid-enabled {
  text-decoration: none;
  opacity: 1;
}

#clean-grid-toggle.grid-disabled {
  text-decoration: none;
  opacity: 0.4;
}
