/* $Id: htmlelements.css,v 1.1.2.18.2.23 2010/04/21 15:01:07 psynaptic Exp $ */

/* Tables */

table, th, td {
  line-height: 1.35em;
}

table {
  width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
}

th, td {
  padding: 5px 10px;
}

thead {
  background-color: #777;
  color: #fff;
}

thead th {
  border-bottom: none;
}

#user-admin-perm td.module {
  background-color: #777;
  color: #fff;
}

/* Blocks */

.block ul {
  padding: 0;
}

.block ul li {
  margin: 0;
}

/* Boxes */

#comments .comment .content {
  padding: 1em;
}

/* Messages */

div.messages,
div.help,
div.warning {
  padding: 1em;
  margin-bottom: 1em;
}

div.messages ul {
  margin: 0;
}

div.password-description {
  padding: 10px;
}

/* Nodes */

.node .content {
  padding-bottom: 1em;
}

/* Comments */

#comments {
  margin: 1em 0;
}

.comment {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#content .comment .content {
  margin: 1em;
  padding: 0;
}

/* Lists */

ul, ol {
  padding-left: 20px;
  margin-bottom: 1.5em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Drupal */

.meta {
  margin-bottom: 1em;
}

#search label {
  display: none;
}

/* Admin */

div.admin .left,
div.admin .right {
  margin: 0;
}

div.admin-panel .body {
  padding: 0;
}

/* Teaser button */

.teaser-checkbox {
  float: right;
  position: relative;
  top: -4px;
  width: 60%;
}

#edit-teaser-include-wrapper {
  float: right;
}

#edit-teaser-include-wrapper label {
  margin-right: 20px;
}

/* Devel */

li.krumo-footnote span.krumo-call {
  font-size: 8px !important;
}

li.krumo-footnote {
  overflow: hidden;
}

/* Fieldsets */

fieldset,
div.fieldset {
  margin: 10px 0;
}

h2.fieldset-title {
  font-size: 1em;
  margin: 10px 0 0 0;
  padding: 5px 10px;
  font-weight: bold;
}

.collapsed h2.fieldset-title {
  margin-bottom: 10px;
}

div.collapsible h2.fieldset-title {
  cursor: pointer;
}

div.fieldset-content {
  padding: 10px;
}

div.collapsed div.fieldset-content {
  display: none;
}

.vertical-tabs-panes {
  padding: 15px 0;
}

.container-inline div.fieldset-content {
  border: none;
  padding: 0;
}

.container-inline h2.fieldset-title {
  margin-bottom: 10px;
}

/* Forms */

.form-item {
  margin: 0 0 10px 0;
}

input,
button,
textarea,
select,
input.form-text,
input.form-autocomplete,
input.form-button
.form-item input.error,
textarea.form-textarea,
select.form-select {
  padding: 3px;
  font-size: 1em;
}

input.teaser-button {
  padding: 0 5px;
  font-size: 0.9em;
  margin-right: 3px;
}

.node-form .form-text,
.node-form textarea {
  display: block;
  width: 95%;
}

input.form-submit {
  margin: 10px 5px 10px 0;
  cursor: pointer;
}

label {
  font-weight: bold;
}

.form-item label.option {
  font-size: 0.9em;
}

div.description {
  margin: 0 0 1em 0;
}

div.content-add-more {
  margin-bottom: 1.5em;
}

html.js input.form-autocomplete {
  background-position: 100% 5px;
}

html.js input.throbbing {
  background-position: 100% -15px;
}

.node-form fieldset .form-text {
  width: auto;
}

/* Core */

.admin-panel {
  margin: 10px 0 20px;
}

div.admin .left {
  float: left;
  width: 48%;
}

div.admin .right {
  float: right;
  width: 48%;
}
a
.admin-panel ul.menu {
  margin: 0;
  padding: 0;
}

.admin-panel ul.menu li {
  list-style: none;
}

tr.region-populated {
  display: none;
}

/* Modules */

.eminline-wrapper {
  margin-bottom: 1.5em;
}

.context-ui-block-selector {
  height: 500px;
}

/* Markup free clearing
 *
 * Consider adding your own selectors to this instead of finding ways
 * to sneak the clear-block class into Drupal's markup.
 * From http://www.positioniseverything.net/easyclearing.html
 */
ul.links:after,
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Exclude inline links from clear-block behavior */
ul.inline:after {
  content: "";
  display: none;
  clear: none;
}

ul.links,
.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html ul.links,
* html .clear-block {
  height: 1%;
}

ul.links,
.clear-block {
  display: block;
}
/* End hide from IE-mac */
