/* $Id: layout.css,v 1.1.2.11.2.3 2010/04/21 14:17:09 psynaptic Exp $ */

/* Layout */

.limiter {
  width: 940px;
  margin: 0 auto;
  padding: 10px 0;
}

.sidebar {
  width: 220px;
}

#left {
  margin-right: 20px;
  float: left;
}

#right {
  margin-left: 20px;
  float: right;
}

.one-sidebar #content {
  width: 700px;
}

.two-sidebars #content {
  width: 460px;
}

.no-sidebars #content {
  float: none;
}

.sidebar-right #content,
.two-sidebars #content {
  float: left;
}

.sidebar-left #content {
  float: right;
}
