/* $Id: navigation.css,v 1.1.2.11.2.9 2010/04/22 14:56:15 psynaptic Exp $ */

/* Links */

ul.links {
  padding: 0;
  margin: 0;
  line-height: 2;
  border: none;
}

ul.links li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  display: inline;
}

ul.links.inline li {
  float: none;
}

ul.links li a {
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 5px;
}

ul.links.inline li a {
  display: inline;
  padding: 0;
  margin-right: 10px;
}

ul.links a.active,
ul.links li.active a {
  border: none;
}

/* Tabs */

#tabs {
  margin-bottom: 10px;
}

ul.tabs li {
  float: left;
}

ul.tabs li a:link,
ul.tabs li a:visited {
  padding: 2px 5px;
}

ul.tabs.secondary {
  font-size: 0.9em;
}

/* Menus */

ul.menu {
  margin: 0;
}

ul.menu li a {
  display: block;
  padding: 0;
}

ul.menu {
  padding-left: 20px;
}

ul.menu li li a {
  font-size: 0.9em;
}

.sidebar ul.menu {
  padding-left: 10px;
}

/* Node links */

.node-links ul.links li a {
  padding: 0;
  margin-right: 10px;
}
