/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* ==================
 * Semantic classes
 * ================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\0000333}}
.inline {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\0000337}}
.right {
  float: right;
  padding-left: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\0000342}}
.left {
  float: left;
  padding-right: .5em;
}

/* =============================================================================
 *   Base
 * ========================================================================== */
/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\0000361}}
html {
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\0000365}}
body {
  font-family: Verdana, Geneva, "DejaVu Sans", Arial, Helvetica, sans-serif;
  font-size: 87.5%;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003155}}
pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */
/*
 * Wraps all header elements - branding and .region-header
 */
/*
 * Wraps the sidebars the content column
 */
/*
 * Main content column wrapper
 */
/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
/*
 * Wraps the content region, avoid applying styles to this wrapper, its used
 * mainly for position and invisible gutters and can be problematic to style
 */
/*
 * Footer wrapper
 */
/*
 * Panels may need additional margin wrangling when in the $content region
 */
/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps the leaderboard
 */
/*
 * Wraps the header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003251}}
#header-wrapper {
  /* Debug styles, is this working */
  background: rgba(255, 192, 203, 0.5);
}

/*
 * Wraps the nav elements
 */
/*
 * Wraps breadcrumb
 */
/*
 * Wraps messages and help
 */
/*
 * Wraps the secondary content/preface region
 */
/*
 * Wraps the main content column
 */
/*
 * Wraps the tertiary content/postfix region
 */
/*
 * Footer wrapper
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003309}}
#footer-wrapper {
  /* Debug styles, is this working? */
  background: rgba(255, 192, 203, 0.5);
}

/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
/*
 * Logo
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003330}}
#logo {
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003333}}
#logo img {
  vertical-align: bottom;
}

/*
 * Wrapper for the site name and slogan
 */
/*
 * Site name (h1)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003348}}
#site-name {
  margin: 0;
  font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003355}}
#site-name a:link, #site-name a:visited {
  text-decoration: none;
  color: grey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003361}}
#site-name a:hover, #site-name a:focus {
  text-decoration: underline;
}

/*
 * Site slogan (h2)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003372}}
#site-slogan {
  margin: 0;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */
/*
 * Main content header wraps the page title, tabs and actions links
 */
/*
 * The main page title (h1)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003390}}
#page-title {
  margin: 0;
  color: #19b208;
}

/* ===================
 * Views 
 * =================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003399}}
.views-label {
  font-weight: bold;
  font-size: 1.1em;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
/*
 * Feed icons
 */
/*
 * Aggregator feed source
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003421}}
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003428}}
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for the more link
 */
/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003444}}
ul.links {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003448}}
ul.links.inline {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003452}}
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003463}}
.search-results {
  margin: 0;
  padding: 0;
}

/*
 * Attribution message and link
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003472}}
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003478}}
.attribution a {
  text-decoration: none;
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003482}}
.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
}

/* =============================================================================
 *   Regions
 * ========================================================================== */
/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
/*
 * Regions can be nested, such as when using Panels
 */
/*
 * Header region, embedded in the #header
 */
/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
/*
 * Secondary content
 */
/*
 * Sits above the main content header, like a content-top region
 */
/*
 * Sits below the main content, like a content-bottom region
 */
/*
 * Sidebars - targets both
 */
/*
 * First sidebar
 */
/*
 * Second sidebar
 */
/*
 * Tertiary content
 */
/*
 * Footer region
 */
/* =============================================================================
 *   Links
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003576}}
a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003587}}
a:hover, a:focus {
  text-decoration: underline;
  color: #33CCFF;
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003599}}
.nav {
  clear: both;
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003603}}
.nav ul,
.nav ul.menu {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003609}}
.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003618}}
.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003630}}
.nav .block {
  margin-bottom: 0;
}

/* =============================================================================
 *   Superfish
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003640}}
ul.sf-menu {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003643}}
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003656}}
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003663}}
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

/*
 * Superfish blocks
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003679}}
.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003690}}
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Vertical style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003700}}
.sf-vertical {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003703}}
.sf-vertical li {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003708}}
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003716}}
.sf-vertical li a {
  padding: 0 10px;
}

/*
 * Navbar style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003726}}
.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003734}}
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003744}}
.at-mt .at-menu-toggle,
.at-mt .at-menu-toggle ul,
.at-mt .at-menu-toggle ul.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003752}}
.at-mt .at-menu-toggle-button {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003756}}
.at-mt .at-menu-toggle ul a {
  padding: 0 10px;
  white-space: nowrap;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003767}}
ul.menu {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003770}}
ul.menu ul {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003778}}
ul.menu li {
  margin: 0;
}

/* If li.content exists it's a problem, so reset the padding */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003807}}
.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003824}}
.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003830}}
.book-navigation .menu {
  margin-left: 0;
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003840}}
#breadcrumb {
  margin: 10px 0;
  /* If the label is set to show in theme settings the label class is added */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003844}}
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003849}}
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003854}}
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003859}}
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003863}}
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003890}}
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003897}}
.item-list ul.pager li {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003902}}
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003908}}
ul.pager li.pager-current {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003914}}
.block ul.pager li {
  margin: 0;
}

/*
 * Theme the various states of pager links
 */
/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003951}}
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003960}}
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003970}}
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003981}}
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003994}}
#tasks {
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\00003999}}
ul.primary {
  border-bottom-color: #ccc;
  margin: 20px 0;
  padding: 0 0 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031004}}
ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031009}}
ul.primary li a {
  background-color: #f5f5f5;
  border-color: #ccc;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031019}}
ul.primary li a:hover, ul.primary li a:focus {
  background-color: #eee;
  border-color: #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031028}}
ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: #fff;
  border-bottom-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031038}}
ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031043}}
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031049}}
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* =============================================================================
 *   Action links
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031063}}
ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */
/*
 * Wrapper for any field
 */
/*
 * Above and inline classes are on the field wrapper
 */
/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031090}}
.field-label-inline {
  /* Remove the margin on inline field lables to preserve vertical formatting */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031093}}
.field-label-inline .field-label {
  margin: 0;
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031101}}
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Field types (Core)
 */
/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
/*
 * Taxonomy
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031130}}
.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031135}}
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031140}}
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Text
 */
/*
 * Long text
 */
/*
 * Text with summary
 */
/*
 * File
 */
/*
 * Number/Integer
 */
/*
 * Decimal
 */
/*
 * Number float
 */
/*
 * List
 */
/*
 * List boolean
 */
/*
 * List integer
 */
/*
 * List float
 */
/*
 * Field types (Contrib)
 */
/*
 * Named fields
 */
/*
 * Underscores in field name are replaced with dashes
 */
/*
 * Image Alignment Theme Settings - included here so you can easily override
 */
/*
 * Float none setting
 */
/*
 * Float left setting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031254}}
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031263}}
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031272}}
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */
/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031286}}
.block {
  margin-bottom: 20px;
}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
/*
 * The first block in the region
 */
/*
 * The last block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Block title
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031324}}
.block-title {
  margin: 0;
}

/*
 * Block content wrapper
 */
/*
 * Match item list and block menu margin and padding
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031340}}
.block-content ul,
.block-content ol {
  padding: 0 0 0 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031345}}
.block-content li {
  margin: 0;
  padding: 0;
}

/*
 * Block for the latest news items in the first category
 */
/*
 * Block for the latest news items in the first feed
 */
/*
 * First block created with "Add block" link
 */
/*
 * "Recent blog posts" block
 */
/*
 * "Book navigation" block for the current book's table of contents
 */
/*
 * "Recent comments" block
 */
/*
 * "Active forum topics" block
 */
/*
 * "New forum topics" block
 */
/*
 * Language switcher block
 */
/*
 * Custom menu block
 */
/*
 * "Recent content" block
 */
/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
/*
 * "Most recent poll" block
 */
/*
 * "Author information" block for the profile of the page's author
 */
/*
 * "Search form" block
 */
/*
 * "Shortcuts" block
 */
/*
 * "Popular content" block
 */
/*
 * "Main menu" block
 */
/*
 * "Management" block for Drupal management menu
 */
/*
 * "Navigation" block for Drupal navigation menu
 */
/*
 * "User menu" block for Drupal user menu
 */
/*
 * "System help" block
 */
/*
 * "Main page content" block
 */
/*
 * "Powered by Drupal" block
 */
/*
 * "User login form" block
 */
/*
 * "Who's new" block for a list of the newest users
 */
/*
 * "Who's online" block for a list of the online users
 */
/* =============================================================================
 *   Node Styling
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031518}}
.node {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031535}}
.node .node-title {
  margin: 0;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031593}}
#comments {
  margin: 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031597}}
#comments h2.comment-title {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031601}}
#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031611}}
.comment {
  margin-bottom: 20px;
}

/*
 * Comment title
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031642}}
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
/*
 * Preview of the comment before submitting new or updated comment
 */
/*
 * "New" marker for comments that are new for the current user
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031674}}
.new {
  color: #c00;
}

/*
 * Nested comments are indented
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031682}}
.indented {
  margin-left: 40px;
}

/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031696}}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031702}}
.form-item label {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031709}}
.form-item .description {
  font-size: 0.85em;
}

/*
 * Highlight marks and form required mark
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031722}}
.marker,
.form-required {
  color: #c00;
}

/*
 * The submit button
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031736}}
.container-inline div,
.container-inline label {
  display: inline;
}

/*
 * Define consistent borders
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031745}}
fieldset {
  border: 1px solid #ccc;
}

/*
 * Tips for Drupal's input formats
 */
/*
 * Buttons used by contrib modules like Media
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031759}}
a.button {
  -moz-appearance: button;
  -webkit-appearance: button;
}

/*
 * Password confirmation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031767}}
.password-parent,
.confirm-parent {
  margin: 0;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031777}}
table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031782}}
table.sticky-header {
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031788}}
table,
thead,
tbody,
tr,
th,
td {
  border-color: #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031798}}
table,
td,
th {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031805}}
caption,
th,
td {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031812}}
thead tr {
  font-weight: 700;
  background-color: #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031818}}
td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031829}}
tbody tr {
  border-top: 1px solid #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031834}}
tr {
  /* Table row striping */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031836}}
tr.odd {
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031841}}
tr.info, tr.even, tr:nth-child(2n+2) {
  border-bottom: 0;
  background-color: #f5f5f5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031852}}
tr.odd td.active {
  background-color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031856}}
tr.even td.active {
  background-color: #ebebeb;
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031879}}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: normal;
}

/* =============================================================================
 *   Messages
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031895}}
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031900}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 * Unpublished nodes
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031941}}
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/_custom\.scss}line{font-family:\00003193}}
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7
.comment-unpublished p.unpublished > * {
  position: relative;
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031952}}
.maintenance-page .container {
  padding: 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031956}}
.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
  color: grey;
  font-family: serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031966}}
.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031973}}
.db-offline div.messages {
  margin: 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031977}}
.db-offline #content {
  padding: 20px 0;
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
/*
 * Admin menu overrides
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031990}}
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000031999}}
.dev-query {
  background: #eee;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000032008}}
#styleguide-header {
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/radar\/web\/profiles\/radar\/themes\/at-radar\/sass\/global\.styles\.scss}line{font-family:\000032011}}
#styleguide-header .item-list {
  font-family: inherit;
  margin: 0 20px 20px 0;
  min-height: 260px;
  width: auto;
}
